<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chijioke.kaiosim" version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>KaiOS Simulator</name>
    <description>KaiOS Web App Simulator</description>
    <author email="dev@example.com">Chijioke</author>
    <content src="index.html" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <icon src="www/icon-192.png" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        
        <!-- These settings bypass security for the iframe -->
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="MixedContentMode" value="0" /> 

        <!-- CORRECTED: This merges the attribute into the existing application tag -->
        <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>