<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chijioke.kaiosim" version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>KaiOS Simulator</name>
    <description>KaiOS Web App Simulator</description>
    <author email="dev@example.com">Chijioke</author>
    <content src="index.html" />
    
    <!-- Security Overrides: This allows the iframe to load anything -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <!-- Icons -->
    <icon src="www/icon-192.png" />
    <platform name="android">
        <icon src="www/icon-192.png" density="mdpi" />
        <icon src="www/icon-512.png" density="xxxhdpi" />
        
        <preference name="AndroidXEnabled" value="true" />
        
        <!-- Bypasses CORS and Frame Blocking -->
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="MixedContentMode" value="0" /> <!-- 0 = Always Allow -->

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </config-file>
    </platform>
</widget>
